$bg-color: #181818;
$text-color: #fff;
$aside-color: #111;
$grey-color: #434343;
$light-grey: #212121;
$link-color: #b2b2b2;
$about-bg: #fafafa;
$about-text: #333;
$form-color: #5b5b5b;

$font-size: 14px;