.aside {
  background-color: $aside-color;
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 100vh;
  z-index: 10;
  color: $text-color;
  transition: all .5s;
  overflow-x: hidden;

  &-active {
    width: 300px;
  }

  &__content {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 25px 0;
  }
}

.user {
  &__info {
    text-align: center;
    opacity: 0;
    transition: .3s;
    white-space: nowrap;
  }

  &__photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  &__title {
    font-size: 16px;
    padding: 30px 0 10px;
  }

  &__description {
    color: $grey-color;
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.aside-active .user__info {
  opacity: 1;
}

.aside__content nav {
  margin-top: -110px;
  transition: all .5s;
  position: relative;
  z-index: 5;
}

.aside__content li a {
  padding: 10px 0 10px 50px;
  display: block;
  border-bottom: 1px solid $light-grey;
  white-space: nowrap;
  transition: all .5s;
  background: $aside-color;
}

.aside__content li:first-child a {
  border-top: 1px solid $light-grey;
}

.aside__content li a:hover {
  background: tomato;
  color: $text-color;
}

.aside-active .aside__content li a::before {
  margin-left: 0;
}

.aside__content li a::before {
  font-family: "linea-basic-10";
  display: inline-block;
  font-size: 25px;
  line-height: 0;
  margin-left: -38px;
  margin-right: 13px;
  margin-top: -4px;
  vertical-align: middle;
  transition: all .5s;
}

.aside__content li:nth-child(1) a::before {
  content: "u";
}

.aside__content li:nth-child(2) a::before {
  content: "{";
}

.aside__content li:nth-child(3) a::before {
  content: "R";
}

.aside-active .main-nav__link::before {
  margin-left: 0;
}

.aside-active .aside__content li:hover a {
  text-indent: 5px;
}

.aside-active .aside__content nav {
  margin-top: 35px;
}