.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.loader .loader_inner {
  background-image: url("../../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

.content {
  position: relative;
  margin: 5px 5px 55px 55px;
  left: 0;
  transition: all .4s;
}

.gallery a{
  overflow: hidden;
  width: 320px;
  display: block;
}

.gallery img {
  display: block;
  width: 100%;
  transition: all 15s;

  &:hover {
    transform: scale(5);
  }
}

.aside-active + .content {
  left: 250px;
  transition-delay: .5s;
}

.filter__items {
  position: fixed;
  bottom: 0;
  right: 0;
  color: $text-color;
  text-align: right;
  width: 100%;
  padding: 10px 10px 0;
  background: $bg-color;

  @media only screen and (max-width : 480px) {
    padding: 10px 5px 0 52px;
  }
}

.filter__label {
  background-color: transparent;
  transition: all .5s;
  padding: 8px 15px;
  opacity: .4;
  margin: 0 3px 15px;
  font-size: 12px;
  letter-spacing: 3px;
  border: 1px solid $text-color;
  
  &:hover {
    background: tomato;
    opacity: 1;
    border-color: tomato;
  }

  @media only screen and (max-width : 480px) {
    margin: 0 3px 10px;
  }
}

.active {
  background: tomato;
  opacity: 1;
  border-color: tomato;
}